* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: right;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .sidebtn {
    float: left;
  display: inline-block;
    border-style: none;
  border: 0px;
   margin-top: 0px;
  cursor: pointer;
  background: inherit;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 5px;
  font-size: 17px;
  border: none;
  float: left;
  display: inline-block;
}
.topnav .searchbtn {
    float: left;
  display: inline-block;
   margin-top: 0px;
    border-style: none;
  border: 0px;
  cursor: pointer;
  padding: 5px 16px;
  background: inherit;
  font-size: 17px;
}

.topnav .searchbtn:hover, .topnav .sidebtn:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text], .topnav button {
    float: none;
    display: inline-block;
    text-align: left;
    /*width: 100%;*/
    margin: 0;
    padding: 8px; /*14*/
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
