* {box-sizing: border-box;}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: right;
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .sidebtn {
    float: left;
  display: inline-block;
  border: none;
  color:black;
  cursor: pointer;
  background: inherit;
  padding: 5px 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
}

.topnav input[type=text] {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 17px;
  border: none;
  float: left;
  display: inline-block;
}
.topnav .searchbtn {
    float: left;
  display: inline-block;
  border: none;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;
  background: inherit;
  font-size: 17px;
  color: black;
}

.topnav .searchbtn:hover, .topnav .sidebtn:hover {
  background: #ccc;
}

.sidenav .dropdown .dropbtn {
  background-color: #111111;
  color: #818181;
  font-size: 25px;
  padding: 8px 8px 8px 32px;
  display: block;
  /*affix button in side menu*/
}
.sidenav .dropdown .dropbtn:hover {
  /*hover affix button side menu */
  color: white;
}

.sidenav .dropdown .dropdown-content a {
  background-color: #111111;
  /*padding: 8px 8px 8px 32px;*/
  font-size: 25px;
  color: #818181;
  /* drop down links in side menu */
}
.sidenav .dropdown .dropdown-content a:hover {
  color: white;
  /* drop down links in side menu */
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: ;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media screen and (max-width: 600px) {
  .topnav input[type=text], .topnav .sidebtn {
    float: none;
    display: inline-block;
    text-align: left;
    /*width: 100%;*/
    margin: 0;
    padding: 8px; /*14*/
  }
  .topnav .searchbtn {
    display: inline;
    float:right;
  }
  .topnav a {
    display: inline-block; 
    float: right;
    text-align: left;
    margin: 0;
    padding: 8px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
